/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Karla', sans-serif;
  --ff-secondary: 'DM Serif Display', serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-heading-lg: 1.75rem;
  --fs-heading-xlg: 2.5rem;
  --fs-heading-xxlg: 3rem;
  --fs-heading-xxxlg: 3.5rem;
  --fs-heading-xxxxlg: 4.5rem;

  --clr-neutral-100: hsl(0, 0%, 100%); /* white */
  --clr-neurtal-200: hsl(0, 0%, 98%); /* Very Light Gray */
  --clr-neutral-500: hsl(273, 4%, 51%); /* Dark Grayish Violet */
  --clr-neutral-700: hsl(270, 9%, 17%); /* Very Dark Violet */

  --clr-primary-400: hsl(216, 30%, 68%); /* Grayish Blue */
  --clr-primary-700: hsl(256, 26%, 20%); /* Dark Violet */
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* BODY/GLOBAL */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
}

.divider {
  width: 10rem;
  height: 1px;
  margin-bottom: 4rem;
}

.divider--light {
  background: var(--clr-neurtal-200);
}

.divider--dark {
  background: var(--clr-neutral-500);
}
/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
  line-height: 1.1;
}

/* COMPONENTS */

.btn {
  padding-inline: 2.5rem;
  padding-block: 0.6rem;
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn--dark {
  background-color: transparent;
  color: var(--clr-neutral-100);
  outline: 2px solid var(--clr-neutral-100);
}

.btn--dark:hover,
.btn--dark:focus {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-700);
  transition: all 400ms ease-in-out;
}

/* UTILITY */

/* HEADER & NAV */

.main__header {
  position: relative;
  padding: 0 1.5rem;
  background-color: var(--clr-neutral-100);
  z-index: 5;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 2px solid var(--clr-neutral-700);
  cursor: pointer;
}

.hamburger-menu.open .hamburger {
  transform: translateX(-50px);
  background: transparent;
}

.hamburger-menu.open .hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.hamburger-menu.open .hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.hamburger {
  position: relative;
  width: 18px;
  height: 2px;
  background: var(--clr-neutral-700);
  border: none;
  transition: transform 300ms ease-in-out, background 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background: var(--clr-primary-700);
  transition: transform 300ms ease-in-out;
}

.hamburger::before {
  transform: translateY(5px);
}

.hamburger::after {
  transform: translateY(-5px);
}

.main__nav {
  position: absolute;
  width: 100vw;
  height: 0;
  top: 5rem;
  left: -1.5rem;
  padding-top: 3.125rem;
  transition: all 300ms ease-in;
}

.main__nav--active {
  height: calc(100vh - 5rem);
  background: url(../images/bg-pattern-mobile-nav.svg), var(--clr-neutral-700);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main__nav--list {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.main__nav--item {
  opacity: 0;
}

.main__nav--link {
  display: inline-block;
  color: var(--clr-neutral-100);
  font-size: var(--fs-lg);
  margin-bottom: 2.5rem;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-transform: uppercase;
}

.main__nav--link:hover,
.main__nav--link:focus {
  border-bottom: 1px solid var(--clr-neutral-100);
  transition: all 250ms ease-in-out;
}

/* HERO */

.hero {
  position: relative;
  background: var(--clr-primary-700);
  z-index: 2;
}

.hero::before {
  position: absolute;
  content: url(../images/bg-pattern-intro-left-mobile.svg);
  top: 28.25rem;
  left: 0;
}

.hero::after {
  position: absolute;
  content: url(../images/bg-pattern-intro-right-mobile.svg);
  bottom: -186px;
  right: 0;
}

.hero__image img {
  width: 100%;
  height: 28.125rem;
  object-fit: cover;
}

.hero__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5.625rem 1.5rem;
}

.hero__heading {
  font-size: var(--fs-heading-xxlg);
  color: var(--clr-neutral-100);
  line-height: 1;
}

.hero__text {
  color: var(--clr-neutral-100);
  line-height: 1.6;
  padding-block: 2rem;
}

/* CARDS */

.cards__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__heading {
  font-size: var(--fs-heading-xxlg);
  font-weight: var(--fw-regular);
  padding-bottom: 3rem;
}

.cards__content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.cards .divider {
  margin-top: 8rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
  text-align: center;
}

.card__heading {
  font-size: var(--fs-heading-lg);
  font-weight: var(--fw-regular);
  padding-top: 2rem;
}

.card__text {
  color: var(--clr-neutral-500);
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  line-height: 1.6;
}

/* ABOUT */

.about {
  padding-inline: 1.5rem;
  margin-block: 5rem;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--clr-primary-700);
  position: relative;
  padding-inline: 1.5rem;
  padding-block: 4rem;
  border-radius: 4px;
  overflow: hidden;
}

.about__wrapper::before {
  position: absolute;
  content: url(../images/bg-pattern-how-we-work-mobile.svg);
  top: 0;
  right: 0;
  z-index: 1;
}

.about__heading {
  font-size: var(--fs-heading-xlg);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-100);
  padding-bottom: 2.5rem;
}

/* KEYFRAMES */

@keyframes nav-ani {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
